.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f8f9fa; /* Light grey background */
}

.signin-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000; /* Black color */
}

.clerk-sign-in {
    max-width: 400px; /* Limit the width of the sign-in form */
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a nice effect */
    background-color: #fff; /* White background for the form */
    border-radius: 8px; /* Rounded corners */
}
